<header id="divHeader" class="wrapCelular">
    <nav id="hdr" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 visible-xs">
                    <div class="col-xs-2 no-padding-left">
                        <a id="menu-toggle" href="#" class="navbar-toggle float-left"><i class="fa fa-bars"></i></a>
                    </div>
                    <div class="col-xs-1 no-padding">
                        <a class="float-left" style="margin-top:5px"><img src="/../../img/mvc/logos/logo_ch.png" /></a>
                    </div>
                    <div class="col-xs-9 no-padding text-right">
                        <div class="col-xs-11 bienv_xs">
                            <span>Bienvenido!</span><div class="clear"></div>@{
                                if (Session["clientesDefault_Usuario"] != null)
                                {
                                    WriteLiteral(((DKbase.web.Usuario)Session["clientesDefault_Usuario"]).NombreYApellido);
                                }}
                        </div>
                        <div class="col-xs-1"><div class="clear15"></div><a class="user_xs" href="#"><i class="fa fa-user-circle-o"></i></a></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 hidden-xs">
                    <table class="cont_po" width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <b> Central telefónica:</b>
                                </td>
                                <td id="tdCentralTelefonica"></td>
                            </tr>
                            <tr>
                                <td>
                                    <b>   Teléfono:</b>
                                </td>
                                <td id="tdTelefono"></td>
                            </tr>
                            <tr>
                                <td>
                                    <b>  Localidad:</b>
                                </td>
                                <td id="tdLocalidad"></td>
                            </tr>
                            <tr>
                                <td>
                                    <b>  Reparto:</b>
                                </td>
                                <td id="tdReparto"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
                    <ul class="nav navbar-nav navbar-left">
                        @{
                            string classPedidos = "";
                            string classCuentasCorrientes = "";
                            string classMediosDePagos = "";
                            string classDescargas = "";
                            string classDevo = "";
                            string strController = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
                            switch (strController)
                            {
                                case "Buscador":
                                case "carrito":
                                case "Diferido":
                                case "carritoDiferido":
                                case "subirpedido":
                                case "subirarchivoresultado":
                                case "subirarchivoresultado_msg":
                                case "estadopedidos":
                                case "estadopedidosresultado":
                                case "recuperador":
                                case "promocionescliente":
                                    classPedidos = " class=\"active\" ";
                                    break;
                                case "Documento":
                                case "FichaDebeHaberSaldo":
                                case "descargaResumenes":
                                case "descargaResumenesDetalle":
                                case "composicionsaldo":
                                case "composicionsaldoCtaCte":
                                case "composicionsaldoCtaResumen":
                                case "composicionsaldochequecuenta":
                                case "ConsultaDeComprobantes":
                                case "RespuestaConsultaDeComprobantes":
                                case "comprobantescompleto":
                                case "ConsultaDeComprobantesObraSocial":
                                case "ConsultaDeComprobantesObraSocialResultado":
                                case "ConsultaDeComprobantesObraSocialResultadoRango":
                                case "deudaVencida":
                                    classCuentasCorrientes = " class=\"active\" ";
                                    break;
                                case "mediosdepago1":
                                case "mediosdepago2":
                                case "mediosdepago3":
                                case "mediosdepago4":
                                case "mediosdepago5":
                                    classMediosDePagos = " class=\"active\" ";
                                    break;
                                case "catalogo":
                                case "descarga":
                                    classDescargas = " class=\"active\" ";
                                    break;
                                case "Devoluciones":
                                case "NuevaDevolucion":
                                case "NuevaDevolucionVencidos":
                                    classDevo = " class=\"active\" ";
                                    break;
                                default:
                                    break;
                            }

                        }
                        <li>
                            <a data-toggle="dropdown" class="user" href="#"><span><i class="fa fa-circle"></i></span><i class="fa fa-user-circle-o"></i></a>
                            <ul class="dropdown-menu">



                                <li><a class="off" href="#" onclick="onclickSignOff(); return false;"><i class="fa fa-power-off"></i>SALIR</a></li>
                            </ul>
                        </li>
                        <li><a @{ WriteLiteral(classPedidos);} href="#"><h3>@{WriteLiteral(((DKbase.web.Usuario)Session["clientesDefault_Usuario"]).NombreYApellido);}</h3></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- menu mobile -->
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <div class="row sidebar-hdr">
                <a id="menu-close" href="#" class="toggle">X</a>
                <img src="../img/mvc/logos/logo.png" class="img_logo_xs" />
            </div>
            <div class="clear"></div>

            @{




                <li>
                    <a class="off" href="#" onclick="onclickSignOff(); return false;"><i class="fa fa-power-off"></i>SALIR</a>
                </li>
            }

        </ul>
    </nav>
</header>